<!-- about composer page content-->
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3>Frédéric Chopin</h3>
    </div>
  </div>



  <!-- Composer image -->
  <div class="row">
    <div class="col-sm-4">
      <img style="width:100%" src="https://as2.ftcdn.net/jpg/01/95/51/27/500_F_195512739_VmWuAKLR1KgK8qdIGge3oiuWOUN3nSD9.jpg"/>
      <caption>
        <a href="https://stock.adobe.com/images/chopin-musicien-portrait-personnage-celebre-piano-pianiste-musique-celebre-musique-classique/195512739" target="_blank">Image Source </a> <br>
      </caption>
    </div>
      <!-- Composer bio -->
    <div class="col-sm-6">

      <p>

        Frederic Francois Chopin, was born in  born March 1, 1810 in what is now Poland. Died on October 17,
        1849, in Paris, France. He was a Polish French composer and pianist during the romantic period.
        Well known for his piano solo pieces and concerti. He wrote little piano works and is known
        for his music’s tones. He is considered one of the greatest music tone poets because of his
        imagination and craftmanship. May of his piano works are brief.
      </p>

        <caption>
          <a href="https://www.britannica.com/biography/Frederic-Chopin" target="_blank">Bio Source </a> <br>
            Frédéric Chopin. (2020, December 15). Retrieved January 10, 2021, from https://www.britannica.com/biography/Frederic-Chopin
Frédéric Chopin. (2020, December 15). Retrieved January 10, 2021, from https://www.britannica.com/biography/Frederic-Chopin
        </caption>

    </div>
  </div>
</div>
