
  <div class="col-sm-12">

    <!-- Search input form  -->
    <div class="searchBar">
      <input type="text" id="searchBar" class="form-control" placeholder="Search by name" [formControl]='txtSearchControl' />
    </div>


    <table class="table table-bordered">
      <!-- composers table header -->
      <thead class="thead-dark">
        <tr>
          <th scope="col">Composer ID</th>
          <th scope="col">Full name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody *ngFor="let composer of composers | async">
        <tr>
          <!-- composers table contents -->
          <td scope="row">
            <a routerLink="/composer-details/{{ composer.composerId }}">
              {{ composer.composerId }}
            </a>
          <td scope="row">{{ composer.fullName }}</td>
          <td>{{composer.genre}}</td>
        </tr>
      </tbody>
    </table>
  </div>

