<!-- sign-in form  -->
<div class="card signin-container">
  <div class="card-body">
    <h3 class="card-title">Sign In</h3>
    <form class="card-text">
      <div class="form-group">
        <!--username  -->
        <label for="txtUserName">Username</label>
        <input type="text" class="form-control" id="txtUserName" placeholder="Enter username" />
      </div>
      <!-- upassword-->
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" id="txtPassword" placeholder="Enter your password" />
      </div>
      <!-- button / submit -->
      <div class="form-group">
        <!-- on click  event triggers sign in function -->
        <button class="btn btn-primary float-right" (click)="signin()">Submit</button>
      </div>
    </form>
  </div>
</div>
